.item {
    border: 1px solid gray;
    margin-bottom: 30px;
 }

 .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    padding: auto;
 }

 .info {
    padding: 10px;
 }

 .info h2 {
    margin-bottom: 10px;
 }

 .info p {
    margin-bottom: 10px;
 }