.form{
    margin: 10px auto 30px;
}

.form input{
    padding: 5px 10px;
    border:  none;
    outline: none;
    transition: border-color 0.4 ease;
    border: 1px solid transparent;
    margin-bottom: 10px;
    margin: 2px;
}

.form input:focus {
    border-color: aqua;
}